.footer{
    background-color: #0F0F0F;
}
.footer h2{
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer hr{
    width: 180px;
     margin-left: 630px;
}
.footer img{
    margin-left: 70px;
    padding-bottom: 40px;
}