@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display:wght@700&family=Poppins&family=Rajdhani&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&family=Rajdhani&family=Roboto&display=swap');
@import "common.css";
@import "header.css";
@import "footer.css";

.intro{
    background-image: url(../images/intro_bck.png);
    background-size: auto;
    height: 800px;
    width: 1479px;
} 
.btn{
    padding: 50px;
    margin-top: 200px;
    margin-left: 620px;
    border: solid white;
    background: transparent;
    float: left;
    background-color: transparent;
}
.btn h3{
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
}
.btn hr{
    margin-top: -70px;
}
.btn_img{
    padding: 93px;
}
.intro-p{
    margin-top: -60px;
    font-family:  'PT Sans', sans-serif;
}
.text_intro{
   color: white;
   text-align: center;
   padding-top: 700px;
   max-width: 700px;
   margin-left: 500px;
   font-size: 16px;
   padding-bottom: 30px;
}
.part-1{
    width: 50%;
}
.seson-h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.clocks{
    display: flex;
}
.clock-1{
    margin: 16px;
}
.seson_hr{
    width: 200px;
    margin-left: 250px;
    margin-bottom: 20px;
}
.seson_section{
    color: white;
    background-color: black;
    font-family: "Playfair Display",sans-serif;
    display: flex;
}
.clock-img{
    background-color: #191B1C;
}
.part-2{
    background-image: url(../images/man.png);
    margin-left: 100px;
    padding: 187px;
    height: 490px;
    margin-bottom: 50px;
}
.part_2-h2{
    font-size: 25px;
    width: 310px;
    margin-top: 150px;
    font-family:"Playfair Display",sans-serif ;
    margin-bottom: 10px;
}
.part-2-hr{
    width: 100px;
    height: 1px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.part-2_btn{
    margin-left: 65px;
    padding: 20px 30px 20px 30px;
    border: solid white;
    background: transparent;
    float: left;
    background-color: transparent;
    color: white;
}
.img_seson-2{
    background-image: url(../images/suit.png);
    padding: 300px;
    max-width: 50%;
    margin-top: -25px;
}
.seson_section-2{
    display: flex;
    color: white;
    text-align: center;
    font-family: "Playfair Display",sans-serif;
}
.part_3{
    max-width: 50%;
    margin-left: 90px;
}
.part_3-h2{
    font-size: 36px;
    margin-left: 180px;
}
.part-3-hr{
    width: 100px;
    height: 1px;
    margin-left: 340px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.part_3-p{
    max-width: 500px;
    margin-left: 150px;
    margin-bottom: 60px;
}
.part_3-btn{
    margin-left: 285px;
    padding: 20px 30px 20px 30px;
    border: 1px solid white;
    background: transparent;
    float: left;
    background-color: transparent;
    color: white;
}
.products{
     text-align: center;
}
.products-h2{
    color: white;
    margin-top: 100px;
    font-size: 36px;
}
.products-hr{
    width: 150px;
    height: 1px;
    margin-left: 640px;
    margin-bottom: 60px;
    margin-top: 50px;
}
.chasi-1{
    display: flex;
    margin-left: 260px;
    color: white;
}
.chasi-2{
    display: flex;
    margin-left: 260px;
    color: white;
}
.chasi-1 h4{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}
.chasi-1 p{
    text-align: start;
}

.chasi-2 h4{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}
.chasi-2 p{
    text-align: start;
}